.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.7;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  .header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(236, 236, 236, 0.8),
        rgba(108, 122, 137, 0.8)
      ),
      url(./assets/kelly-sikkema-7hspi6m0yO4-unsplash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0%, 100% 83vh, 0 100%);
    .log-box {
      position: absolute;
      top: 40px;
      right: 40px;
      .logo {
        height: 35px;
      }
    }
    .text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .heading-primary {
        color: black;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 30px;
        .heading-primary-main {
          display: block;
          font-size: 17px;
          font-weight: 400;
          letter-spacing: 10px;
          animation: moveInLeft 1s ease-out;
          //animation-name: moveInLeft;
          // animation-duration: 1s;
          //animation-delay: 3s;
          //animation-iteration-count: 3;
          //animation-timing-function: ease-out;
        }
        .heading-primary-sub {
          display: flex;
          justify-content: center;
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 20px;
          animation: moveInRight 1s ease-out;
          //animation-name: moveInRight;
          //animation-duration: 1s;
        }
      }

      .btn {
        border-radius: 100px;
        &:link,
        &.btn.visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: 5px 20px;
          display: inline-block;
          transition: all 0.2s;
          position: relative;
        }
        &.btn:hover {
          transform: translateY(-2px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        &.btn:active {
          transform: translateY(-0.5px);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        &.btn-white {
          background-color: #fff;
          color: black;
        }
        &.btn-animated {
          animation: moveInBottom 0.5s ease-out 0.75s;
          animation-fill-mode: backwards;
        }
        &.btn::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 100px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all 0.4s;
        }
        &.btn-white::after {
          background-color: #fff;
        }
        &.btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

//Gradientcolors
//purple  #301934
//red #FF0000
//orange  #FFA500
